<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style src = "questions.component.css"></style>

</head>
<body>
    <hr/>
    <div class = "jumbotron" >
        <p> <i>Choose the correct answer. </i></p> 
        <h4> {{out.question}}</h4> 
        <div *ngFor = "let opt of out.options">
            <!-- <input type = "radio" id = "out.options" (click) = "validate(opt, out, out.options)" [name]= "out.options" [value] = "opt"> {{opt}} -->
            <input type = "radio" id = "out.options" (click) = "validate(opt, out, out.options)" [name]= "out.options" [value] = "opt"> {{opt}}
        </div>
        <br/>
        <div *ngIf = "correct" class = "alert alert-success">
          GREAT!!! Your Answer is Correct!!! 
        </div>
        <div *ngIf = "correct1" class = "alert alert-danger">
           Sorry, Your answer is Incorrect!!! 
        </div>  
    </div>

    
</body>
</html>