<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style src = "questions.component.css"></style>

</head>
<body>
  <div>
    <hr />
    <div class = "jumbotron1">
      <h2 style = "color:rgb(51, 93, 166); font-family: times new roman; text-align: center;" >Welcome to the MEAN Stack Phase Two {{title}}</h2>
    </div>
    <hr />
    <div *ngFor = "let ques of questions"> 
      <app-questions [out] = ques> </app-questions>
    </div>
    <!-- <div *ngFor = "let opt of out.options"></div> -->
    
    </div>
   
    
</body>
</html>






